extends layout

block content
	.navigateBar Navigate to:
		span.navigateOption
			a(href="/ResourcesDirection") Resources
		span
			a(href="/dogsDirection") Dogs
	h1.bigBanner #{title}
	h1#resourcesBanner #{title2}

	.mainContainer
		div.locateNavigateBar To search short-term foster homes located in Texas, New Mexico and Kansas, click <a>here</a>.
		div.locateNavigateBar If you are seeking an open foster home for a dog currently located in Colorado, click <a>here</a>.