extends layout

block content

    div
    
    h1#loginBanner #{title} 
    p#loginBox Volunteer login

    #imageContainer
        <img class='frontImage' src=/images/mandd.jpg>
        
        <img class='frontImage' src=/images/adog.jpg>
        
        <img class='frontImage' src=/images/zbike.jpg>

    
