extends layout

block content

	div
	
	h1.bigBanner #{title} 
	#loginBox Volunteer login 
		p Username: <input></input>
		p Password: <input></input>
		button#loginButton Sign in


	#imageContainer
		<img class='frontImage' src=/images/mandd.jpg>
		
		<img class='frontImage' src=/images/adog.jpg>
		
		<img class='frontImage' src=/images/zbike.jpg>

	
