extends layout

block content
	h1#resourcesBanner #{title}

	.row.mainContainer
		p Please click on any of the following to view.

			div
				a(href="/resourceDocs/ADOPTIONFORMS.pdf") Adoption forms 
				p Everything you need to facilitate an adoption of a Western Dog Rescue dog.  
			div
				a(href="/resourceDocs/HOMECHECKFORMS.pdf") Homecheck forms
				p Includes a checklist of items to be inspected at a potential adopter's residence.  
			div
				a(href="/resourceDocs/VOLUNTEERHANDBOOK.pdf" target='blank') Volunteer handbook
				p Includes information such as general facts about Western Dogs Rescue, guidelines for foster homes, and the adoption process.