body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	background-image: url(/images/pawprints.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'Buda', cursive;
}

a {
	color: #00B7FF;
}


#indexBanner {
	background-color: white;
	font-size: 48px;
	width: 65%;
	text-align: center;
	opacity: .6;
	border-radius: 10px;
	padding: 5px;
	border: solid #926239 10px;
	margin-left: auto;
	margin-right: auto;
		
}

.mainContainer {
	font-size: 24px;
	padding: 10px;
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 10px;
	border: solid #926239;
	
}

#confusedDog {
	horizontal-align: left;
	width: 150px;
	height: 100px;
}

#resourcesBanner {
	background-color: white;
	opacity: .6;
	border-radius: 10px;
	border: solid #926239 10px;
	width: 30%;
	text-align: center;
	font-size: 56px;
	padding: 5px;
	margin-left: auto;
	margin-right: auto;
}

.bigBanner {
	background-color: white;
	opacity: .6;
	border-radius: 10px;
	border: solid #926239;
	font-size: 96px;
	padding: 20px;
	text-align: center;

}

.frontImage {
	border: solid #926239;
	border-radius: 65px;
	width: 30%;
	height: 30%;
	text-align: center;
}

#loginBox {
	background-color: white;
	padding: 15px;
	opacity: .6;
	border-radius: 10px;
	border: solid #926239 10px;
	font-size: 36px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	width: 70%;
}

#imageContainer {
	text-align: center;
	padding: 10px;
}

#loginButton {
	background-color: #A4D3EE;
	width: 35%;
}

#loginButton :hover {
	background-color: orange;
}

.navigateBar {
	width: 25%;
	margin-left: 75%;
	margin-top: 10px;
	text-align: center;
	font-size: 24px;
	background-color: #97694F;
	padding: 15px;
	opacity: .7;
	border-radius: 10px;
	border: solid #FAF0E6;
	
}

.navigateOption {
	padding: 20px;
}

.dogListContainer {
	font-size: 24px;
	padding: 10px;
	background-color: white;
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 10px;
	border: solid #926239;
	width: 100%;
}


.dogInfo {
	display: inline-block;
	padding: 15px;
	width: 75%;
}

.dogImage {
	padding: 2%;
	width: 20%;

}

.dogListHeader {
	font-size: 36px;
	font-weight: bolder;
}

.dogImage {
	border-radius: 10px;
	border: solid #926239;
}

.sectionTitle {
	text-decoration: underline;
}

.addDog {
	border-radius: 10px;
	border: solid #926239;
	margin-left: 80%;
	font-size: 24px;
	text-align: center;
	background-color: #99CDC9;
	opacity: .8;
	padding: 1%;
	margin-bottom: 1%;
}

.newDogContainer {
	font-size: 24px;
	padding: 10px;
	background-color: white;
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 10px;
	border: solid #926239;
	margin-right: 20%;
	margin-left: 20%;
	
}

.btn {
	margin-left: 30%;
	background-color: #A4D3EE;
	width: 25%;
	}