body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	background-image: url(/images/pawprints.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'Buda', cursive;
}

a {
	color: #00B7FF;
}

#indexBanner {
	background-color: white;
	width: 70%;
	text-align: center;
	opacity: .6;
	border-radius: 10px;
	padding: 5px;
	border: solid #926239;
		
}

.mainContainer {
	font-size: 24px;
	padding: 5px;
	background-color: white;
	opacity: .6;
	border-radius: 10px;
	border: solid #926239;
	
}

#confusedDog {
	horizontal-align: left;
	width: 150px;
	height: 100px;
}

#resourcesBanner {
	background-color: white;
	opacity: .6;
	border-radius: 10px;
	border: solid #926239;
	width: 20%;
	text-align: center;
	font-size: 44px;
	padding: 5px;
}

#loginBanner {
	background-color: white;
	opacity: .6;
	border-radius: 10px;
	border: solid #926239;
	font-size: 68px;
	padding: 20px;
	text-align: center;

}

.frontImage {
	border: solid #926239;
	border-radius: 65px;
	width: 30%;
	height: 30%;
	text-align: center;
}

#loginBox {
	background-color: white;
	opacity: .6;
	border-radius: 10px;
	border: solid #926239;
	font-size: 36px;
	text-align: center;
	margin-right: 35%;
	margin-left: 35%;
}

#imageContainer {
	text-align: center;
	padding: 10px;
}
